/*barra de navegacion*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #3c72e6;
    --secundary-color: #5aa3e6;
    --background-color: #fff;
    --dark-color: #000;
}

header {
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

/*superior*/
.header_superior {
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 20px;
}

.logo { 
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 280px; 
    height: auto;   
    display: block;   
}

/*menu principal*/
.container_menu {
    width: 100%;
    height: 70px;
    background-color: var(--primary-color);
    padding: 0px 20px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li:first-child > a{
    background-image: url(../imagenes/hogar.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;

}

nav > ul > li:first-child:hover > a{
    background-image: url(../imagenes/hogar.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;

}


nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background: var(--secundary-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    
}

#selected{
    transform: scale(1.1);
    background-color: var(--secundary-color);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*desplegable*/
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;

}

nav ul li ul li a{
    display: block;
    color: var(--primary-color);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}
nav ul li ul li a:hover{
    background-color: var(--secundary-color);
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;

}

nav ul li ul li a{
    display: block;
    color: var(--primary-color);
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    text-decoration: none;
}
nav ul li ul li a:hover{
    background-color: var(--secundary-color);
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
/*ver perfil*/
.modal-header{
    font-size: 15px;
    background-color: #d5dee5;
    color: var(--primary-color);
}

.modal-header h5{
    font-weight: 700;
}

.rounded-circle{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.677);
}


.rounded-circle{
    animation: movimiento 2.5s linear infinite;
}

.row strong{
    color: #1541a0;
    font-weight: 800;
}

.modal-content{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.284)),
        url(../imagenes/961.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
/*banner competencia ciudadana*/
.contenedor {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.bannerCD {
    position: relative;
    width: 100%;
    height: 460px; 
    overflow: hidden;
}

.bannerCD video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bannerCD-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgba(255, 255, 255, 0.805);
    z-index: 1;
    padding: 20px;
}

.bannerCD_title h1 {
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: bold;
    font-weight: 800;
    text-transform: uppercase;
}
.bannerCD_img img {
    max-width: 340px;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.bannerCD_img img{
    transition: transform 0.3s ease;
}
.bannerCD_img img:hover{
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
    .bannerCD_title h1 {
        font-size: 2em; 
    }
    .bannerCD_img img {
        max-width: 200px; 
    }
    .bannerCD {
        height: 400px; 
    }
}

/*titulos para todas las paginas*/
.title {
    color: #222121;
    font-size: 40px;
    font-weight: 650;
    margin-bottom: 20px;

}
.title::before{
    content: '';
    background: var(--primary-color);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: var(--primary-color);
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

/*scrollspy competencia ciudadana*/
html {
    scroll-behavior: smooth;
}

.list-groupCD {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.list-groupCD h3{
    color: var(--primary-color);
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.list-groupCD-item {
    display: block;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.list-groupCD-item:hover {
    background-color: #e2e6ea;
}

.list-group-item.active {
    background-color: var(--secundary-color);
    color: white;
}

.scrollspy-exampleCD {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.scrollspy-exampleCD h4 {
    margin-top: 30px;
    color: #343a40;
}

.scrollspy-exampleCD p {
    line-height: 1.6;
}


.list-groupCD {
    background-color: #f8f9fa; 
    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.253);
}

.list-groupCD-item {
    border: none;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #e2e6ea;
}

.list-groupCD-item.active {
    background-color: var(--secundary-color); 
    color: #fff;
}

.scrollspy-exampleCD {
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.278);
}

.scrollspy-exampleCD h4 {
    margin-top: 30px;
    color: var(--primary-color);
    font-weight: 700;
}
.scrollspy-exampleCD h5{
    color: var(--secundary-color);
}

.scrollspy-exampleCD p, ul, li {
    line-height: 1.6; 
    font-size: 16px;
}

/*tarjetas de competencia ciudadana*/
.cardCD {
    position: relative;
    width: 300px;
    height: 350px;
    perspective: 600px;
    
}

.containerCD-cards {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    gap: 20px;                   
    margin: 20px;      
}


.cardCD .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .8s;
}

.cardCD .front {
    transform: rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.cardCD .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardCD .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: rgba(0,0,0,.4);
    text-align: center;
}

.cardCD .back {
    transform: rotateY(180deg);
    background: #18409690;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.cardCD .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.cardCD .back .link a {
    color: #f3f3f3;
    font-size: 20px;
}

.cardCD .back h3 {
    font-size: 35px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.cardCD .back p {
    padding: 0;
    font-size: 18px;
}

.cardCD:hover .front {
    transform: rotateY(180deg);
}

.cardCD:hover .back {
    transform: rotateY(0deg);
}

/*boton de ir arriba*/
#button-up{
    width: 60px;
    height: 60px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform:scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

/*niveles de lectura*/
.elements-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around; 
}

.element { 
    width: calc(25% - 20px);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.497); 
    color: #474747;
    background-color: #fff;
    border-radius: 50px 0;
    overflow: hidden;
}

.element i{
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 30px auto 15px; 
    font-size: 1.6rem;
    border-radius: 50%;
    color: #fff; 
    background-color: #97A9BD;
}

.element h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 15px;
}  
.element p {
    line-height: 1.5;
    margin: 0;
}

/*tarjetas de colores pasteles*/
.element--blue {
    background-color: #aac8e9;
    color: #fff;
}

.element--blue i {
    background-color: #fff;
    color: var(--secundary-color);  
}

.element--purple {
    background-color: #c4aae9;
    color: #fff;
}

.element--purple i {
    background-color: #fff;
    color: #945ae6;
}

.element--brown {
    background-color: #e9c2aa;
    color: #fff;
}

.element--brown i {
    background-color: #fff;
    color: #e6895a;
}


/*efecto de cambio de color*/
.element:hover {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.element:hover i {
    background-color: #fff;
    color: var(--secundary-color);
}

/* Responsive*/
@media (max-width: 768px) {
    .element {
    width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .element {
    width: 100%;
    }
}
